@(systemid:String,tasks: List[String],sensorForm:Form[(String,String)])

@import helper._
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Panels Demo</title>
<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@routes.Assets.at("javascripts/utils.js")"></script>
<style type="text/css">

body{
    min-width:740px;
}
#right{
  float: right;
  width: 410px;
  background-color: #fff;
  border:1px solid #000;
}
#content{
  margin-right:450px;
  border:1px solid #000;
  background-color: #fff;
}
</style>
</head>

@main("Sensor List") {

<div id="right">

@if(systemid==null || systemid.equals("citybikes")){
<div class="panelcollapsed">
  <h2>Citybikes query (free bikes)</h2>
  <div class="panelcontent">
  <pre><code> 
PREFIX ssn: &lt;http://purl.oclc.org/NET/ssnx/ssn#&gt;
PREFIX qudt: &lt;http://data.nasa.gov/qudt/owl/qudt#&gt;
PREFIX bicy: &lt;http://citybikes.linkeddata.es/ontology#&gt;  
SELECT ?avbikes ?obs ?av 
FROM NAMED STREAM &lt;http://citybikes.linkeddata.es/ontology#CityBikes.srdf&gt; [NOW - 30 S]
WHERE {
  ?obs a bicy:FreeBikesObservation.
  ?obs ssn:observationResult ?output.
  ?output bicy:hasAvailableBikesValue ?av.
  ?av qudt:numericValue ?avbikes.
}
</code></pre>
  </div>
</div>


<div class="panelcollapsed">
  <h2>Citybikes query (slots and bikes)</h2>
  <div class="panelcontent">
<pre><code> 
PREFIX ssn: &lt;http://purl.oclc.org/NET/ssnx/ssn#&gt;
PREFIX qudt: &lt;http://data.nasa.gov/qudt/owl/qudt#&gt;
PREFIX bicy: &lt;http://citybikes.linkeddata.es/ontology#&gt;
PREFIX time: &lt;http://www.w3.org/2006/time#&gt;
PREFIX dcterms: &lt;http://purl.org/dc/terms/&gt;
PREFIX xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt;

SELECT   ?sensdev ?avbikes ?freeslots ?tstamp

FROM NAMED STREAM &lt;http://citybikes.linkeddata.es/ontology#CityBikes.srdf&gt; [NOW - 300 S]
WHERE {
  ?obs ssn:observedBy ?sensdev .
  ?obs a bicy:FreeBikesObservation.
  ?obs ssn:observationResult ?output.
  ?output bicy:hasAvailableBikesValue ?av.
  ?av qudt:numericValue ?avbikes.
?output bicy:hasFreeSlotsValue ?fs.
  ?fs qudt:numericValue ?freeslots.
  ?obs  ssn:observationResultTime ?i .
  ?i time:inXSDDateTime ?tstamp
 }
 </code></pre>
  </div>

</div>

}

@if(systemid==null || systemid.equals("swissex")){
<div class="panelcollapsed">
  <h2>Swissex query (windspeed)</h2>
  <div class="panelcontent">
<pre><code> 
PREFIX ssn: &lt;http://purl.oclc.org/NET/ssnx/ssn#&gt; 
PREFIX qudt: &lt;http://data.nasa.gov/qudt/owl/qudt#&gt;
PREFIX swissex: &lt;http://swissex.linkeddata.es/ontology#&gt;  
SELECT ?obsval ?windspeed 
FROM NAMED STREAM &lt;http://swissex.linkeddata.es/ontology#wannengrat.srdf&gt; [NOW - 8 DAY]
WHERE {
  ?output swissex:hasWindSpeedValue ?obsval. 
  ?obsval qudt:numericValue ?windspeed.
}
</code></pre>
  </div>

</div>
}

@if(systemid==null || systemid.equals("ijs")){
<div class="panelcollapsed">
  <h2>ISJ observations query (humidity)</h2>
  <div class="panelcontent">
<pre><code> 
PREFIX ssn: &lt;http://purl.oclc.org/NET/ssnx/ssn#&gt; 
PREFIX qudt: &lt;http://data.nasa.gov/qudt/owl/qudt#&gt;
PREFIX ijs: &lt;http://ijs.linkeddata.es/ontology#&gt;
SELECT ?obsval ?humidity   
FROM NAMED STREAM &lt;http://ijs.linkeddata.es/ontology#ijssensors.srdf&gt; [NOW - 2 MONTH]
WHERE {
  ?output ijs:hasHumidityValue ?obsval. 
  ?obsval qudt:numericValue ?humidity.
}
</code></pre>
  </div>
</div>
}


</div>
<div id="content">
  <h2>Add query</h2>
  @form(routes.Application.query){
  @select(field = sensorForm("system"), options = Seq("citybikes"->"Citybikes Sensors",
          "ijs"->"JSI Sensors","swissex"->"Swiss Experiment Sensors"))
  
    @textarea(field = sensorForm("query"), args = 'rows -> 22, 'cols -> 50)
    <input type="submit" value="Query">
  }
</div>
    
}

