@(systemid:String,sensorForm:Form[PullForm],data:es.upm.fi.oeg.siq.sparql.SparqlResults,rdf:com.hp.hpl.jena.rdf.model.Model,query:Option[String])

@import helper._
@import es.upm.fi.oeg.siq.sparql.SparqlResults
@import scala.collection.JavaConversions._

@main(systemid) {
  <h3>System: @systemid</h3>

  @form(routes.Application.pull){
    @sensorForm.globalError.map { error =>
    <div><p class="error">@error.message</p></div>
    }      
  
    @helper.input(sensorForm("system"),args= '_showConstraints -> false,'_label -> "") { (id, name, value, args) =>
    <input type="hidden" name="@name" id="@id" value="@value">
    }     
    @helper.inputText(sensorForm("qid"))
    <button type="submit" name="action" value="pull">Pull</button>
    <button type="submit" name="action" value="remove">Remove</button>
  }
  
   @generic.queryresults(data,rdf,query)
  
}

