@(systemid:String,sensorForm:Form[QueryForm])(implicit flash: Flash,request:Request[AnyContent])

@import helper._
@import collection.JavaConversions._
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@routes.Assets.at("javascripts/utils.js")"></script>
<script type="text/javascript">
if (window.addEventListener)
{	
	window.addEventListener("load", hide, false);
}
function encodeAndCopy(){
	query = document.getElementById("queryText");
	wsUriQuery=document.getElementById("restLink");
	wsUriQuery.href="";
	var wsPort = (window.location.port.toString() === "" ? "" : ":"+window.location.port)
	var uri = "http://" + window.location.hostname + wsPort+"/@systemid/sparqlstream?query=";
	wsUriQuery.text="REST"    
	wsUriQuery.href=uri+(escape(query.value));
}

function hide() {
	check = document.getElementById('customMapping').checked
	elem = document.getElementById('mappingDiv')
	if (check)	elem.style.display = 'block';
	else elem.style.display = 'none';
}
</script>
<style type="text/css">

</style>
</head>

@main(systemid) {

@generic.querypanel(systemid) 

@form(routes.Application.query(systemid)){

@generic.queryform(systemid,sensorForm,"oneoff","Ask Query"){
  <a id="restLink" href="#"></a>
  <a href="#" onClick="encodeAndCopy();return false;">Set REST query</a>
}
   
}   
}