@(data:es.upm.fi.oeg.siq.sparql.SparqlResults,rdf:com.hp.hpl.jena.rdf.model.Model,query:Option[String])
  
@import scala.collection.JavaConversions._  
@import com.hp.hpl.jena.rdf.model.Model
  
@if(query.isDefined){
  <h4>Query</h4>
  <code>@query.get</code>
}  

@if(rdf != null){
  <div style="width:890px; height:500px; overflow:auto;">
    @Sensor.writeModel(rdf)
  </div>	
}  
  
@if(data != null) {
  <h4>Results</h4>  

<div style="width:890px; height:500px; overflow:auto;">
  <table class="newspaper-a">
  @defining(data.getResultSet.getResultVars) { resvars =>
  <tr>
    @resvars.map{ v=>
      <th>@v</th>
    }
  </tr>
  @data.getResultSet.map { r =>
    <tr>
    @resvars.map{v=>
      <td>@r.get(v)</td>       
    }
    </tr>
  }
  }
  </table>
</div>
  }